<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer_container grid">
        <div class="footer_items_container grid wide">
            <div class="row">
                <div class="footer_items col l-3 c-12">
                    <h4 class="footer_item_label">GIỚI THIỆU VỀ BLADETECH</h4>
                    <div class="footer_dropdown">
                        <a href="">Giới thiệu về công ty</a>
                        <a href="">Thông tin liên hệ</a>
                        <a href="">Hệ thống cửa hàng</a>
                    </div>
                </div>
                <div class="footer_items col l-3 c-12">
                    <h4 class="footer_item_label">HƯỚNG DẪN KHÁCH HÀNG</h4>
                    <div class="footer_dropdown">
                        <a href="">Hướng dẫn mua hàng trực tuyến</a>
                        <a href="">Hướng dẫn thanh toán</a>
                        <a href="">Góp ý, khiếu nại</a>
                        <a href="">Gửi yêu cầu về bảo hành</a>
                    </div>
                </div>
                <div class="footer_items col l-3 c-12">
                    <h4 class="footer_item_label">CÁC CHÍNH SÁCH CHUNG</h4>
                    <div class="footer_dropdown">
                        <a href="">Chính sách về vận chuyển</a>
                        <a href="">Chính sách về bảo hành</a>
                        <a href="">Chính sách về tính phí</a>
                        <a href="">Gửi yêu cầu về bảo hành</a>
                    </div>
                </div>
                <div class="footer_items col l-3 c-12">
                    <h4 class="footer_item_label">TỔNG ĐÀI HỖ TRỢ</h4>
                    <div class="footer_dropdown">
                        <a href="">CSKH:       XXXXXXX</a>
                        <a href="">Bảo hành:  XXXXXXX</a>
                        <a href="">Email: BladeTech247@gmail.com</a>
                    </div>
                </div>
                <div class="footer_items col l-3 c-12">
                    <h4 class="footer_item_label">Theo dõi chúng tôi tại</h4>
                    <div class="footer_dropdown social_media_link">
                        <a href=""><img src="../../src/icon/facebook.png" alt=""></a>
                        <a href=""><img src="../../src/icon/youtube.png" alt=""></a>
                        <a href=""><img src="../../src/icon/tiktok.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="author">Phạm Tuyền</div>
    </div>  
</body>
</html>