@use '../../src/asset/css/abstracts/variables' as *;

.header_container{
    width: 100%;
    height: fit-content;
    .top_header_container{
        background-color: $primary-color;
        width: 100%;
        @media (min-width: 740px){
            position: relative;
        }

        .advice{
            a{
                text-decoration: none;
                background-color: white;
                border-radius: 15px;
                padding: 3px 10px;
                color: $primary-color;
                position: relative;
                top: 5px;
                font-weight: bold;
            }
            a:hover{
                color: $primary-color-hover;
            }
        }

        .top_header_left{
            display: flex;

            img{
                width: 25px;
                margin: 0px 10px;
                margin-top: 5px;
            }

            button{
                border-radius: 20px;
                color: $primary-color;
                padding: 0px 10px;
                background-color: white;
                position: relative;
                margin: 5px 0px;

                @media (min-width: 321px) and (max-width: 739px){
                    font-size: 11px;
                }
            }
            @media (min-width: 740px){
                button{
                    font-weight: bold;
                }
            }

        }
        .top_header_middle{
            position: relative;
            display: flex;
            justify-content: flex-end;
            top: 5px;
            img{
                width: 27px;
                height:max-content;
            }
            

            p{
                font-weight: bold;
                margin-right: 10px;
                margin-left: 6px;
                color: white;
            }

            @media (min-width: 740px){
                position: static;
                margin-top: 5px;
            }
            
            @media (min-width: 1200px){
                position: relative;
                top: 0px;
            }
            
            .account_dropdown{
                display: none;
                position: absolute;
                top: 100%;
                background: white;
                border: 1px solid #ccc;
                padding: 10px;
                z-index: 100;
                width: 95vw;
                max-width: 500px;
                right: 3%;

                @media (min-width: 740px){
                    max-width: 500px;
                    right: 0%;
                }

                @media (min-width: 1024px){
                    max-width: 500px;
                    right: 5%;
                }

                @media (min-width: 1200px){
                    max-width: 500px;
                    left: 40%;
                }
                @media (min-width: 1450px){
                    left: 55%;
                }

                h3{
                    text-align: center;
                    font-size: 30px;
                    margin-bottom: 10px;
                    color: $primary-color;
                }
                .email_field,.password_field{
                    display: flex;
                    label{
                        flex: 1;
                    }
                }
                label{
                    font-size: 17px;
                }
                
                input[type="text"],input[type="password"]{
                    width: 70%;
                    font-size: 15px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    padding-left: 5px;
                    height: 30px;
                }
                .button_container{
                    margin-top: 5px;
                    text-align: center;
                    button{
                        padding: 5px 0px;
                        width: 90%;
                        background-color: $primary-color;
                        border-radius: 10px;
                        color: white;
                        cursor: pointer;
                    }
                    
                }
                .control{
                    text-align: center;
                    a{
                        color: $primary-color;
                        text-decoration: none;
                    }
                    a:hover{
                        color: $primary-color-hover;
                    }
                    p{
                        color: black;
                        font-weight: normal;
                    }
                }
                

            }

        }
        .top_header_middle.show .account_dropdown {
            display: block;
        }
        @media (hover: hover) {
            .top_header_middle:hover .account_dropdown {
                display: block;
            }
        }

        .top_header_right{
            .contact_container{
                img{
                    width: 24px;
                    margin-top: 5px;
                    display: flex;
                    margin-left: 40%;
                }
                p{
                    line-height: 1;
                    color: white;
                    margin: 0px 0px;
                    margin-top: 2px;
                }
                
                @media (min-width: 740px) and (max-width: 850px){
                    p{
                        font-size: 14px;
                        margin-top: 4px;
                    }
                }
            }
        }

    }

    .bottom_header_container{
        background-color: $secondary-color;
        width: 100vw;
        height: 35px;


        @media (min-width: 1024px){
            height: 100px;
        }

        .sidebar_wrapper{
            position: relative;
        }
        
        .bottom_header{
            img{
                width: 100%;
                max-width: 23px;
                min-width: 23px;
                position: relative;
                top: 6px;
                left: 7%;
            }
            
            .logo_container{
                display: flex;
                position: relative;
                top: -3px;
                a{
                    min-height: fit-content;
                    max-height: fit-content;
                }
                img{
                    min-width: 20px;
                    max-width: 45px;
                }

                @media (min-width: 1024px) {
                    top:15px;
                    img{
                        
                        border: 3px solid black;
                        max-width: 155px;
                        min-width: 155px;
                        padding: 5px 10px;
                        background-color: white;
                    }
                    a{

                        max-width: fit-content;
                        min-width: fit-content;
                        max-height: fit-content;
                    }
                }
                @media (min-width: 1450px){
                    left: 20px;
                }
            }
            .search_bar_container{
                align-items: center;
                margin-top: 3px;
                .search_bar_control{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    @media (min-width: 1024px){
                        position: relative;
                        top: 35px;
                        
                    }

                    input[type="text"]{
                        width: 90%;
                        padding: 0px 5px;
                        margin-right: -5px;
                        margin-left: 5px;
                        border: none;
                        height: 29px;
                        border-radius: 3px;
                        font-size: 18px;
                        background-color: white;
                        @media (min-width: 1024px){
                            font-size: 18px;
                            height: 40px;
                        }
                    }
                    input[type="text"]:focus{
                        outline: none;
                    }
                    img{
                        top:0px;
                        left: -3px;
                        max-width: 23px;
                    }
                    button{
                        background-color: white;
                        height: 29px;
                        border: none;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        cursor: pointer;
                        @media (min-width: 1024px){
                            height: 40px;
                        }
                    }   
                }          
            }
            #bot_header_dropdown_wrapper{
                position: relative;

                img{
                    width: 100%;
                    max-width: 20px;
                    min-width: 20px;
                    position: relative;
                    @media (min-width: 740px){
                        max-width: 23px;
                        min-width: 23px;
                        margin-left: 5%;
                    }

                }

                #bot_header_dropdown{
                    position: absolute;
                    top: 100%;
                    background: rgb(226, 226, 226);
                    border: 1px solid #ccc;
                    z-index: 99;
                    width: 96vw;
                    right: -70%;
                    display: none;

                    a{
                        color: $primary-color;
                        text-decoration: none;
                        padding: 0px 20px;
                        font-weight: bold;
                    }
                    .row{
                        margin: 0px;
                        padding: 10px 0px;
                        border-bottom: 1px solid rgb(173, 173, 173);
                    }
                    .row:last-child{
                        border: none;
                    }
                }
                
                
            }
            #bot_header_dropdown_wrapper.show #bot_header_dropdown {
                display: block;
            }

            .option_header{
                a{
                    display: inline-flex;
                    margin-top: 20px;
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
                a:hover{
                    color: $primary-color;
                }
                img{
                    min-width: 60px; 
                }
                p{
                    margin-left: 20px;
                    margin-top: 10px
                };

                
            }
            .checkorder_container p:nth-child(2){
                margin-left: 10px;
            }
            .cart_container{
                @media (max-width: 1023px){
                    a,img{
                        min-width: 23px;
                        max-width: 23px;
                        position: relative;
                        bottom: 20px;
                    }
                    p{
                        display: none;
                    }
                }
            }
        }
        
        
        @media (min-width: 1450px){
            .logo_container{
                flex: 0 0 13.66667%;
                max-width: 13.66667%;
            }
            .search_bar_container{
                flex: 0 0 29%;
                max-width: 29%;
            }
            .option_header{
                flex: 0 0 13%;
                max-width: 13%;
            }
        }
    }
    .sub_header{
        .row{
            margin-top: 5px;
            .sub_header_option{
                a{
                    display: inline-flex;
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    color: $primary-color;
                }
                p{
                    margin-left: 5px;
                }
                img{
                    // display: none;
                    width: 32px;
                    height: 32px;
                    margin-left: 5px;
                }

            }
        }
    }
}
 
