<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/asset/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header_container">
        <div class="top_header_container">
            <div class="top_header grid wide row">
                <div class="top_header_left col l-4 m-4 c-6 ">
                    <a href="#"><img src="../../src/icon/location.png" alt=""></a>
                    <button>Hệ thống các cửa hàng</button>
                </div>
                <div class="top_header_middle col l-6 m-6 c-6" id="account_wrapper">
                    <img src="../../src/icon/user.png" alt="">
                    <p>Tài khoản</p>
                    <div class="account_dropdown grid" id="account_dropdown">
                        <h3>Đăng nhập</h3>
                        <form action="" class="row">
                            <div class="col c-12 m-12 l-12 email_field">
                                <label for="email_textbox" class="" >Email</label>
                                <input type="text" id="email_textbox"> 
                            </div>
                            <div class="col c-12 m-12 l-12 password_field">
                                <label for="password_textbox" class="">Mật khẩu</label>
                                <input type="password" id="password_textbox">
                            </div>
                            <div class="button_container col c-12 m-12 l-12">
                                <button type="submit">Đăng nhập</button>
                            </div>
                            <div class="control col c-12">
                                <p>Bạn chưa có tài khoản ? <a href="">Đăng ký ngay</a></p>
                                <p>Bạn quên mật khẩu <a href="">Đặt lại mật khẩu</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="top_header_right col l-2 m-2 c-0">
                    <div class="contact_container row">
                        <div class="col m-4 l-4"><img src="../../src/icon/phone-call.png" alt=""></div>
                        <div class="col m-8 l-8">
                            <p>0859988968 <br> 0962356868</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_header_container">
            <div class="grid wide">
                <div class="bottom_header  row no-gutters">
                <div class="sidebar_wrapper col m-1 c-1"><img src="../../src/icon/menu.png" alt=""></div>
                <div class="logo_container col m-1 c-1"><a href=""><img src="../../src/photo/logo/logo.png" alt=""></a></div>
                <div class="search_bar_container col m-8 c-8">
                    <form action="" class="search_bar_control">
                        <input type="text" name="" id="">
                        <button><img src="../../src/icon/search.png" alt=""></button>
                    </form>
                </div>
                <div class="l-0 m-1 c-1" id="bot_header_dropdown_wrapper">
                    <img src="../../src/icon/down-arrow.png" alt="">
                    <div id="bot_header_dropdown" class="grid">
                        <div class="row">
                            <div class="col c-12 m-12 l-0"><a href="http://">Xây dựng cấu hình</a></div>
                        </div>
                        <div class="row">
                            <div class="col c-12 m-12 l-0"><a href="http://">Tư vấn bán hàng</a></div>
                        </div>
                        <div class="row">
                            <div class="col c-12 m-12 l-0"><a href="http://">Tra cứu đơn hàng</a></div>
                        </div>
                    </div>
                </div>
                <div class="cart_container col m-1 c-1"><a href=""><img src="../../src/icon/cart.png" alt=""></a></div>
            </div>
            </div>
        </div>
    </div>

    <script type="module" src="../../src/asset/js/main.js"></script>
    <!-- <script src="./Header.js"></script> -->
    
</body>
</html>