<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="category">
        <nav class="menu_contain grid">
            <ul class="menu row">                    
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/facebook.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">item</p>
                        <img src="../../src/icon/tiktok.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>