<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="category" id="category">
        <div class="overlay"></div> 
        <nav class="menu_contain grid">
            <ul class="menu row">                    
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/laptop.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Laptop</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/pc.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Máy tính bộ</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/vga.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Linh kiện máy tính</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/monitor.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Màn hình</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/mouse.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Chuột, pad chuột</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/keyboard.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Bàn phím</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/speaker.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Thiết bị âm thanh</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/chair.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Ghế, bàn gaming</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/cooling.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Hệ thống tản nhiệt</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/gadget.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Phụ kiện</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/console.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Handle, console</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                <li class="col c-12">
                    <a href="" class="row">
                        <img src="../../src/icon/software.png" alt="" class="col c-2">
                        <p class="col l-8 m-10 c-10">Phần mềm, mạng</p>
                        <img src="../../src/icon/right-arrow.png" alt="" class="col l-2 m-0 c-0">
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</body>
</html>